header {
  background-color: darkblue;
  color: lightblue;
  text-align: center;
}

.main {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;

}
