header {
  background-color: darkblue;
  color: lightblue;
  text-align: center;
}

.main {
  background-color: lightgrey;
  padding: 1em;
}

body {
  background-image: url(record.png);
  background-repeat: repeat;
  margin: 0;

}

#footer {
  background-color: lightblue;
  padding: .5em;
  font-size: 10pt;
  text-align: center;
  color: darkblue;
  position: absolute;
  bottom: 0;
